.post {

    &_header {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            gap: 8px;
        }

    }


    &_body {
        padding: 0 16px;
        color: #1D232B;

        .title {
            margin: 8px 0;
            font-size: 14px;
            font-weight: 700;
        }

        .content {
            font-size: 12px;
            font-weight: 500;
        }

        .tags {
            margin: 10px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 4px;

            
        }
    }

    &_footer {


        .actions {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 8px 0;
            border-bottom: 1px solid#EDEEF3;
        }

        .post_comments {
            &-thread {
                padding: 0 16px;

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 8px 0px;

                    .left {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 4px;
                    }
                }

                .content {
                    padding-left: 42px;
                    padding-right: 16px;

                    .actions {
                        border-bottom: none;
                    }
                }
            }
        }


    }
}

.p_detail .actions .com_btn {
    color: #919EB6;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: space-between;
}



.comment_box-input {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-top: 1px solid#EDEEF3;

    input {
        border: none;
        flex-grow: 1;
        padding: 6px 8px;
        outline: none;

        &::placeholder {
            color: #AFB9CA;
        }


    }

    button {
        color: #AFB9CA;
    }

}